a, body, span, div, h1,h2,h3,h4,h5,h6,p,button{
    font-family: Lato !important;
  }

  .con-vs-popup .vs-popup {
    max-width: 270px!important;
    height: auto !important;
  }

  .vs-component .vs-con-input-label .vs-input .inputrs .vs-input-primary {
    max-width: 50px!important;
    height: auto !important;
  }